@import "../../../../../styles.scss";

.clients {
  display: flex;
  justify-content: center;
  width: 100%;
}

.clientsHeader {
  display: flex;
  align-items: center;
  gap: 32px;

  width: 100%;
  max-width: 1200px;

  padding: 32px;

  border-radius: 16px;

  img {
    width: 72px;
    height: 72px;
    flex-shrink: 0;
  }

  h1 {
    font-family: $o;
    font-size: 52px;
    font-weight: 700;
    line-height: 1.1;
    margin: 0;
  }
}

.clientsSubtitle {
  margin-top: 16px;

  font-family: $q;
  font-size: 22px;
  line-height: 1.5;

  color: $dark;
}

.blueStrong {
  color: $cBlue;
}