<div class="indexPage">
    <div class="informationContainer">
        <p class="myNameIs">Olá, meu nome é </p>
        <p class="myName">Davi   Batista</p>
        <p class="occupation">Desenvolvedor Full-Stack & UI Designer</p>
        <span class="blueLine"></span>
        <div class="iconsDiv">
            <a href="https://github.com/daviebatista" target="_blank">
                <app-github></app-github>
            </a>
            <a href="https://www.linkedin.com/in/-davi-batista/" target="_blank">
                <app-linkedin></app-linkedin>
            </a>
            <a href="https://wa.me/5511959872118" target="_blank">
                <app-whatsapp></app-whatsapp>
            </a>
            <a href="https://drive.google.com/file/d/107QiX4grkY9qPTexFp8TFjRbe15K7Uiw/view?usp=sharing" target="_blank">
                <app-resume></app-resume>
            </a>
        </div>
    </div>
    <div class="animationContainer">
        <app-splash-screen></app-splash-screen>
    </div>
</div>