<nav class="navbar navbar-expand-lg container-fluid fixed-top navigation" >
    <a class="navbar-brand" routerLink="/" (click)="adjustNavbarOnResolution()">
        <img src="../../../../icon.png" alt="" class="navImage">
    </a>
    <button id="nav-button" class="position-relative navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="adjustNavbarOnResolution()">
        <span class="navbar-toggler-icon "></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav linksGap">
            <li class="nav-item">
                <a routerLink="/" class="nav-link" (click)="adjustNavbarOnResolution()">Home</a>
            </li>
            <li class="nav-item">
                <a routerLink="/about" class="nav-link" (click)="adjustNavbarOnResolution()">Sobre</a>
            </li>
            <li class="nav-item">
                <a routerLink="/services" class="nav-link" (click)="adjustNavbarOnResolution()">Serviços</a>
            </li>
            <li class="nav-item">
                <a routerLink="/projects" class="nav-link" (click)="adjustNavbarOnResolution()">Projetos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://drive.google.com/file/d/107QiX4grkY9qPTexFp8TFjRbe15K7Uiw/view" class="nav-link" (click)="adjustNavbarOnResolution()" target="_blank">Currículo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="talkToMe" routerLink="/talk+to+me" (click)="adjustNavbarOnResolution()">Fale comigo!</a>
            </li>
        </ul>
    </div>
</nav>