<div class="pageFooter">
    <div class="footerTexts">
        <a>Davi Batista™ | Todos os Direitos Reservados | 2024</a>
        <a href="https://lottiefiles.com/121585-computer-programming" target="_blank">Animação Computer Programming feita por Pedro Antonio distribuída sob a licença Lottie Simple</a>
        <a href="https://icons8.com/" target="_blank">Icons by Icons8</a>
        <div class="footerIcons">
            <a href="https://github.com/odavibatista" target="_blank">
                <app-github></app-github>
            </a>
            <a href="https://www.linkedin.com/in/-davi-batista/" target="_blank">
                <app-linkedin></app-linkedin>
            </a>
        </div>
    </div>
    <div class="logoDiv">
        <img src="https://i.imgur.com/Aylf19H.png" alt="">
    </div>
</div>