@import "../../../../styles.scss";

.aboutSection {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;

  margin: 0 -38px;
  padding: 39px 0;
}

.leftDiv {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 65px;
}

.certificates-and-design {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 45px;

  border-radius: 25px;

  background-color: $cBlue;
  color: $lBlue;

  text-decoration: none;
  text-transform: uppercase;

  font-family: $q;
  font-size: 20px;
  font-weight: bold;

  transition: 0.25s ease;

  &:hover {
    background-color: $dark;
    color: $lBlue;
  }
}

.infoDiv {
  width: 65%;

  display: flex;
  flex-direction: column;

  gap: 10px;
}

.skillsDiv,
.workDiv,
.studiesDiv {
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.47);
}

.skillsDiv {
  min-height: 306px;
}

.workDiv,
.studiesDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 10px;

  min-height: 100px;

  padding: 20px 72px;
}

.skillsTitle {
  margin-top: 5px;

  color: $cBlue;

  text-align: center;

  font-family: $o;
  font-size: 24px;
  font-weight: 700;
}

.workTitle {
  margin-top: 20px;

  color: $cBlue;

  text-align: center;

  font-family: $o;
  font-size: 36px;
  font-weight: 800;
}

#alternatorContainer {
  display: flex;
  flex-direction: column;

  margin: 15px auto 10px;
}

.myTechs {
  display: flex;
  align-items: center;
  align-self: center;

  gap: 10px;

  svg {
    width: 39px;
    height: 39px;

    color: $cBlue;
  }
}

.techSelector {
  display: flex;
  align-self: center;
}

.techBtns {
  width: 102px;
  height: 30px;

  border: none;

  font-family: $q;
  font-size: 14px;
  font-weight: 600;

  background-color: $lBlue;
  color: $dark;

  cursor: pointer;

  transition: 0.2s ease;

  &:hover {
    filter: brightness(0.95);
  }

  &.active {
    background-color: $dark;
    color: $lBlue;
  }

  &:first-child {
    border-radius: 15px 0 0 15px;
  }

  &:last-child {
    border-radius: 0 15px 15px 0;
  }
}

/* Tablet */

@media (max-width: 991px) {
  .aboutSection {
    gap: 20px;
  }

  .infoDiv {
    width: 400px;
  }
}

/* Mobile */

@media (max-width: 768px) {
  .aboutSection {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;

    margin: 0;
  }

  .infoDiv {
    width: 100%;
  }

  #alternatorContainer {
    width: 100%;
    padding: 0;
  }

  .skillsDiv,
  .studiesDiv {
    width: 100%;

    margin-top: 40px;
  }

  .workDiv {
    margin-top: 40px;
    padding: 20px;
  }

  .studiesDiv,
  .skillsDiv {
    padding: 0;
  }

  .techBtns {
    width: 80px;
  }
}

/* Small phones */

@media (max-width: 426px) {
  .infoDiv {
    width: 100%;
  }

  .workTitle {
    font-size: 28px;
  }

  .skillsTitle {
    font-size: 20px;
  }
}
