<section class="aboutSection">
    <div class="leftDiv">
        <div class="profileDiv">
            <img src="https://avatars.githubusercontent.com/u/91736880?s=400&u=95ef131294e76fed47ffd2a90eab0d8167b19662&v=4" alt="my-picture" class="avatar">
            <span class="profileInfo">
                <img src="https://img.icons8.com/?size=1x&id=83190&format=png" alt="user-icon" class="userIcon">
                <h1 class="profileName">Davi D. Batista O. M.</h1>
            </span>
            <div class="rolesDiv">
                <span class="role1">Full-Stack Developer</span>
                <span class="role2">UI Designer</span>
            </div>
            <p class="descriptionDiv">
                Sou um Desenvolvedor Full-Stack e
                Designer de UI que cria, desenha e 
                desenvolve aplicações web e 
                bancos de dados. Busco sempre 
                resolver problemas e entregar
                soluções às pessoas através da 
                tecnologia, e desejo aprender as
                mais diversas tecnologias, para
                sempre explorar novos meios de se
                entregar resultados e satisfação.
            </p>
        </div>
        <a class="certificates-and-design">
            Certificados
        </a>
        <a class="certificates-and-design">
            Design Portfolio
        </a>
    </div>
    <div class="infoDiv">
        <div class="skillsDiv"></div>
        <div class="studyDiv"></div>
    </div>
</section>