@import '../../../../styles.scss';

.aboutSection   {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0 -38px;
    padding: 39px 0px;
}

.leftDiv    {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 65px;
}

.certificates-and-design    {
    align-items: center;
    background-color: $dark;
    border-radius: 25px;
    color: $lBlue;
    display: flex;
    font-family: $q;
    font-size: 20px;
    font-weight: bold;
    height: 45px;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}

.infoDiv    {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 65%;
}

.skillsDiv  {
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.471);
    min-height: 306px;
}

.skillsTitle    {
    color: $cBlue;
    font-family: $o;
    font-size: 24px;
    font-weight: bold;
    margin-top: 5px;
    text-align: center;
}

#alternatorContainer    {
    display: flex;
    flex-direction: column;
    margin: 15px auto 10px auto;
}

.techSelector   {
    align-self: center;
    display: flex;
    flex-direction: row;
}

.techBtns   {
    border: none;
    font-family: $q;
    font-size: 14px;
    font-weight: 600;
    height: 30px;
    width: 102px;
}

#frontEndBtn    {
    background-color: $dark;
    border-radius: 15px 0px 0px 15px;
    color: $lBlue;
}

#backEndBtn {
    background-color: $lBlue;
}

#othersBtn  {
    background-color: $lBlue;
    border-radius: 0px 15px 15px 0px;
}

.myTechs    {
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: row;
    gap: 10px;

    svg {
        color: $cBlue;
        height: 39px;
        width: 39px;
    }
}

.workDiv   {
    align-items: center;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.471);
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    min-height: 100px;
    padding: 20px 72px;
}

.workTitle  {
    color: $cBlue;
    font-family: $o;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    margin-top: 20px;
}

.studiesDiv{
    align-items: center;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.471);
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    min-height: 100px;
    padding: 20px 72px;
}

@media  (max-width: 991px)  {
    .aboutSection   {
        gap: 20px;
    }

    .infoDiv    {
        width: 400px;
    }
}

@media  (max-width: 768px)  {
    #alternatorContainer    {
        padding: 0px;
        width: 100%;
    }

    .aboutSection   {
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin: 0px 0px;
        width: 100%;
    }

    .skillsDiv  {
        align-self: center;
        margin: 40px 0px 0px 0px;
        padding: 0px 0px;
        width: 100%;
    }

    .studiesDiv  {
        align-self: center;
        margin: 40px 0px 0px 0px;
        padding: 0px 0px;
        width: 100%;
    }

    .techBtns   {
        width: 80px;
    }

    .workDiv    {
        margin-top: 40px;
        padding: 20px;
    }

}

@media  (max-width: 426px)  {
    .infoDiv    {
        width: 100%;
    }
}