@import '../../../../../styles.scss';

.servicesTitle  {
    color: $dark;
    font-family: $o;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 47px;
    text-align: center;

    span    {
        color: $cBlue;
    }
}

.servicesCards  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 34px;
    justify-content: center;
}

@media  (max-width: 512px)  {
    .servicesTitle  {
        font-size: 36px;
        margin-bottom: 20px;
    }

    .servicesCards  {
        align-items: center;
        gap: 12px;
    }
}
