@import "../../../../../styles.scss";

.servicesTitle {
  color: $dark;
  font-family: $o;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 47px;
  text-align: center;

  span {
    color: $cBlue;
  }
}

.servicesSubtitle {
  max-width: 850px;

  margin: -20px auto 40px;

  text-align: center;

  color: $dark;

  font-family: $q;
  font-size: 18px;
  line-height: 1.6;
}

.servicesCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 34px;
  justify-content: center;
}

@media (max-width: 512px) {
  .servicesTitle {
    font-size: 36px;
    margin-bottom: 20px;
  }

  .servicesCards {
    align-items: center;
    gap: 12px;
  }
}
