:host {  
    height: 30%;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    position: relative;
}
.lottiePic  {
    width: 500px;
}