@import '../../../../../styles.scss';

.studies    {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.actualStudy {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.studyPeriod {
    font-family: $q;
    font-size: 12px;
    font-weight: bold;
    margin-top: -10px;
}

.studyImage {
    align-self: center;
    height: 158px;
    margin-right: 15px;
    width: 158px;
}

.studyName   {
    color: $dark;
    font-family: $q;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2;
}

.studyDesc   {
    font-family: $o;
    font-size: 14px;
    line-height: 1.2;
    margin-top: -10px;
}

@media  (max-width: 1024px) {
    .studyImage {
        margin: 0px;
        height: 100px;
        width: 100px;
    }
}

@media  (max-width: 991px)  {
    .studies    {
        flex-direction: column;
        justify-content: center;
    }

    .actualStudy {
        flex-direction: column;
        justify-content: center;
    }

    .studyImage {
        align-self: center;
        height: 50%;
        width: 50%;
    }
    
    .studyInfo  {
        padding: 20px;
    }
}