@import '../../../../../styles.scss';

#backEnd    {
    align-items: center;
    display: none;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin: 25px 0px;
    padding: 0px 120px;
    transition: 0.2s;
}

@media  (max-width: 991px)  {
    #backEnd   {
        gap: 25px;
        padding: 0px;
    }
}