<section class="experiences">
    <div class="actualRole">
        <img class="roleImage1" src="{{Roles[0].imgUrl}}" alt="">
        <div class="roleInfo">
            <p class="roleName">{{Roles[0].roleName}}</p>
            <p class="rolePeriod">Período: {{Roles[0].time}}</p>
            <p class="roleDesc">{{Roles[0].description}}</p>
        </div>
    </div>
    <div class="actualRole">
        <img class="roleImage1" src="{{Roles[1].imgUrl}}" alt="">
        <div class="roleInfo">
            <p class="roleName">{{Roles[1].roleName}}</p>
            <p class="rolePeriod">Período: {{Roles[1].time}}</p>
            <p class="roleDesc">{{Roles[1].description}}</p>
        </div>
    </div>
    <div class="actualRole">
        <img class="roleImage2" src="{{Roles[2].imgUrl}}"  alt="">
        <div class="roleInfo">
            <p class="roleName">{{Roles[2].roleName}}</p>
            <p class="rolePeriod">Período: {{Roles[2].time}}</p>
            <p class="roleDesc">{{Roles[2].description}}</p>
        </div>
    </div>
</section>