/*-------------------------------------------------------------------<COLORS>----------------------------------------------------------------------------------------------*/
/*Chosen color palette was obtained from Color Hunt: https://colorhunt.co/palette/181823537fe7c0eef2e9f8f9 */
/*darkest-color*/    $dark: #181823;
/*common-blue*/   $cBlue: #537FE7;
/*lightest-blue*/ $lBlue: #C0EEF2;
/*basic-color*/     $light: #E9F8F9;

/*-------------------------------------------------------------------<FONTS>----------------------------------------------------------------------------------------------*/
/*font-family: 'Outfit'*/           $o: 'Outfit';
/*font-family: 'Quicksand'*/        $q: 'Quicksand';
/*font-family: 'Ysabeau Infant'*/   $yi: 'Ysabeau Infant';

/*----------------------------------------------------------<TRANSITIONS AND EFFECTSN>------------------------------------------------------------------------------------*/
@mixin toBlue   /*used to transition for links*/   { 
    color: $light;
    transform: scale(1.02);
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------<STYLES FOR THE MAIN APPLICATION>---------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
.flex-container {
    background-color: $light;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $light;
    color: $dark;
    width: 100%;
}

main    {
    background-color: $light;
    padding: 79px 0px;
    width: 100%;
}

.main-container {
    background-color: $light;
    width: 100%;
}

.iconsComponents    {
    color: $dark;
    cursor: pointer;
    height: 30px;
    width: 30px;

    transition: 0.3s;
    &:hover {
        color: $cBlue;
    }
}