@import '../../../../../styles.scss';

.profileDiv {
    align-items: center;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.471);
    display: flex;
    flex-direction: column;
    width: 306px;
}

.avatar {
    width: 100%;
}

.profileName    {
    font-family: $o;
    font-size: 24px;
    font-weight: bolder;
    margin-left: -20px;
    margin-top: 20px;
}

.profileInfo    {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 35px;
    margin: -5px 0px;
}

.userIcon   {
    margin-top: 12px;
    height: 25px;
    width: 25px;
}

.rolesDiv   {
    display: flex;
    gap: 7px;
    margin-top: 5px;
    padding: 5px 0px;
}

.role1  {
    background-color: $cBlue;
    border-radius: 15px;
    color: $lBlue;
    font-family: $q;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 12px;
}

.role2  {
    background-color: $lBlue;
    border-radius: 15px;
    color: $dark;
    font-family: $q;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 12px;
}

.descriptionDiv {
    display: flex;
    flex: 1 0 auto;
    font-family: $o;
    font-size: 16px;
    line-height: 1.3;
    margin-left: -6px;
    padding: 15px 25px 10px 25px;
    width: 304px;
}

@media  (max-width: 768px)  {
    .profileDiv {
        width: 100%;
    }
}